PORT=8080
DATABASE_URL=postgresql://postgres:P0A7gbsNGKtVfmDN@db.ozkqfpzhesbpwvduoxxi.supabase.co:5432/postgres
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=ecommerce_mvp
REDIS_URL=redis-cli --tls -u redis://default:gQAAAAAAAVxQAAIgcDJiMzM1NzQ2ZWJiZTc0Y2I3ODhjMWJiZjRkMzMwNjUzNA@big-thrush-89168.upstash.io:6379
PRODUCTS_CACHE_TTL_SEC=30
